[2016-05-22 23:36] Parlane opened #2 "pms.adsb.position function decodes surface position reports as airborne position reports"
The function position(msg0, msg1, t0, t1) uses the following check:
`if typecode(msg0) < 5 or typecode(msg0) > 18:`
This should be:
`if typecode(msg0) < 9 or typecode(msg0) > 18:`

Either that, or the position function needs to support the decoding of the surface positions.
[code]
The position decoder you have does not work for surface position messages as they need to be decoded differently and r

[2016-06-24 15:06] junzis commented on #2
1. Position messages for surface and airborne share the same bits format (bit 53 to 88). Difference in earlier bits represents heading and altitude distinctly, which is considered in altitude decoding.

2. The CPR calculation is according to the function from it's original mathematical mode. It should have higher level of accuracy than lookup tables from other source (or the previous version of th

[2016-06-28 06:19] Parlane commented on #2
Yes they share the same bit structure, but the encoding/decoding of the CPR lat/long is different for surface positions and airborne positions. With your current code the position function will return an invalid lat/long for a surface position pair of even/odd messages.

I can provide an example soon.

[2016-07-08 10:04] junzis commented on #2
You are right, I just looked into the surface position functions, it is indeed different. I will update this part. Thanks!

[2016-07-08 11:37] Parlane commented on #2
Here is an example pair, to decode this you need to know the rough receiver position which is -43.496,172.558 due to the surface position having 4 possible longitude quadrants and either a north or southern latitude :

1464241366.9347 8CC8200A3AC8F009BCDEF2000000
1464241368.1344 8FC8200A3AB8F5F893096B000000
(-43.48564406572763, 172.53941672188895)

Sorry the checksum is not valid, the box I get da

[2016-08-02 14:52] GVardakis opened #4 "README correction"
The signature of the function adsb.position in the README file should change from pms.adsb.position(msg_odd, msg_even, t_odd, t_even) to pms.adsb.position(msg_even, msg_odd, t_even, t_odd). The 'even' arguments come first.

[2016-08-03 23:27] Parlane commented on #2
@junzis I have attached the code I have used for surface position decoding:

https://gist.github.com/Parlane/10424b2eb729842a194e7dafec7755b7

It was not coded in a way that you would want to copy straight in. But hopefully it has most of what you need already.

I actually rewrote your position function completely to verify it was correct, hence the position vs old_position.

For position_surface

[2016-08-16 12:37] junzis commented on #4
fixed in commit: https://github.com/junzis/pyModeS/commit/2fccacd72479af28e637bfbc9a663d32a2719f3d
thanks.

[2016-08-16 12:37] #4 closed

[2016-08-16 12:44] junzis commented on #2
@Parlane Thanks for the updates. I implement locally unambiguous surface position decoding and airborne position decoding. still working on the globally unambiguous surface position decoding.

When I am trying to run your `position_surface()`, with the sample message you provided earlier, the result seems to be quite far apart.

Due to the complexity to determine the regions from messages themselv

[2016-08-16 21:48] Parlane commented on #2
@junzis The lat,long reference functions should only use a lat/long of a previously decoded odd/even pair basically. No good for using the lat/long of nearby airport/receiver. But good if you are only getting in odd messages and haven't had an even for a while.

What you need is a function that takes in an even and odd surface position message as well as a lat/long of the receiver. This gets you t

[2016-08-16 21:49] Parlane commented on #2
The lat/long when you have an odd and even pair for surface doesn't need to be very close. It just has to be in the right quadrant of longitude and the right hemisphere. So the function has a total of 8 possible lat,long pairs which you choose the closest to your receiver position.

[2016-08-16 21:59] Parlane commented on #2
I just checked, for northern hemisphere flights you just don't do these lines: "Rlat0 -= 90.0 Rlat1 -= 90.0"

[2016-08-17 15:50] EvenAR opened #6 "Mode-A/C codes"
Hello!

My Mode-S Beast can receive both Mode-S and Mode-A/C at the same time. The received data is sent to Planeplotter using the AVR formet. What I don't understand is how Planeplotter knows which squawk code that belongs to which aircraft. From what I can see by the raw output, the Mode-A/C message only contains the SSR code:

 // 6-byte timestamp followed by SSR code
**@01EA3CC23DBD0225;
@01EA

[2016-08-17 18:25] EvenAR commented on #6
So I did some more research, and from what I understand now is that altitude and SSR code is sent though the short (7 byte) Mode-S frames. I will reformulate my question to:
- Will there be support for decoding short (7 byte) Mode-S frames in the future?

Best regards,
Even

[2016-08-18 20:03] junzis commented on #6
@EvenAR, thanks! I am glad this tools is useful.

It is indeed interesting to have the capacity to decode Mode-S short message. I will take a look at it.

[2016-10-19 14:24] junzis commented on #2
This is finally completed now, in 4bafa1d.
Thanks @Parlane !

[2016-10-19 14:24] #2 closed

[2016-10-19 19:06] Parlane commented on #2
Awesome work @junzis :)

[2017-03-02 09:17] markaif opened #9 "Heading and velocity decoding on surface messages"
I've modified some files to add the heading and the velocity decoding on the surface with refference function. This could be done also on the surface position decoding, but I haven't done it yet.

[code]

On the utils file, this function needs also to be added:

[code]

[2017-03-07 12:46] junzis commented on #9
@markaif, thanks for the suggestion! I have implemented the surface velocity decoding now, however in a slightly different way. It is under now `adsb.surface_velocity()`, and also handled directly from `adsb.velocity()`

Implemented in commit: https://github.com/junzis/pyModeS/commit/15f2833aee74f86e295bc03453d8b348cca65af5

[2017-03-22 14:00] markaif commented on #9
@junzis Thanks for the implementation. However it seems to have a bug. On line 660 in ads.py the return statement seems to have an extra identation. I think it should be outside _if/elif/else_ structure and not inside _else_.
Thanks

[2017-03-22 14:14] markaif commented on #9
@junzis Thanks for the integration. However, i think that the sourface_velocity funcion should return a none even if ther's no velocity found. The way it tis, only return somenthing when a velocity is found.
I think the funciotn would be much more usable if allways returned sthg even if its a _None_.
An easy solution could be sthg linke this:
`    # heading
    hdg_status = int(msgbin[44])
    if

[2017-03-22 20:10] junzis commented on #9
Hi @markaif, That's right. It was indeed a bug. I fixed it now in the new commit together with many other EHS updates. Thanks!

[2017-04-05 08:18] fbyrkjeland commented on #6
Here is a code that probably will decode short squitter altitudes ,DF0 - DF1
If you can use it please do!
-------------------------------
def bin2gray(binary, bitlength):
    graycode=binary
    for i in range(1 , bitlength ):
           bit=str(int(binary[i-1])^int(binary[i]))
           graycode=str(graycode[:i])+str(bit)
    return graycode
#---------------------------------

def gray2bin(grayc

[2017-04-06 07:55] fbyrkjeland commented on #6
This code decodes the Mode 3 DF5 ground to air IDENTcode
DF5 Mode 3 decoding 13 bit:

def Mode3decode(msg):
# 13 bit of data (msg)
    C1=msg[0]
    A1=msg[1]
    C2=msg[2]
    A2=msg[3]
    C4=msg[4]
    A4=msg[5]
    SPI=msg[6]
    B1=msg[7]
    D1=msg[8]
    B2=msg[9]
    D2=msg[10]
    B4=msg[11]
    D4=msg[12]
    byte1=int(A4+A2+A1,2)
    byte2=int(B4+B2+B1,2)
    byte3=int(C4+C2+C1,2)
    b

[2017-04-06 09:12] junzis commented on #6
Thanks @fbyrkjeland

I did not realize it was gray code for 100ft increment...

It looks great. I will add them to the decoder.

[2017-04-06 09:12] #9 closed

[2017-04-06 19:17] fbyrkjeland commented on #6
I also included the Mode 3 decoding in the next message. I have tested both and they work!

Fb

[2017-04-06 19:30] fbyrkjeland commented on #6
Do you happen to have the bit pattern on how to decode DF16 and DF18 ?..

fb

[2017-04-06 20:53] junzis commented on #6
@fbyrkjeland, I have not looked at DF 16 or 18 yet.. Not sure if there are many of these two types of messages though.

[2017-04-27 18:55] fbyrkjeland commented on #6
Junzi!

Have tested your concept and I have replaced 2 of your functions of altitude:

In the "df20 altitude" I have made a little change, and the «altitude" function I have replaced with my «Altitude" function attached under. The new «Altitude" function is tested on live data and give out correct altitude for the  DF0,DF4,DF17,DF20,D21.
You can use some or all of it as you please.

Fb

def df20al

[2017-07-21 14:54] junzis commented on #6
@fbyrkjeland, I realize that in your code for DF20 altitude decoding the sequence of C1 to D4 is reversed compared to the official document:

Was there a mistake in the official document?

[2017-07-21 16:48] fbyrkjeland commented on #6
Have you tested the code against a real aircraft ?
I saw the same thing but realized that my implemenation worked!
I will recheck a little later today. I have access to a lot of civilian atc radars and mode S so I will test and give you a proper feedback!

Regards
Frode Byrkjeland

[2017-07-23 11:41] fbyrkjeland commented on #6
I had to think over your e-mail , and I agree that it looks a bit strange.
I have rewritten the code to be corresponding to the other bit structure , this make more sense, but I have some other mistake here ….. so I will come back to you once I have solved that.

Fb

############################## new Altitude decoder for graycoded altitude #####################
#Altitude message Decoding for DF0,

[2017-07-24 14:57] junzis commented on #6
@fbyrkjeland. Many thanks, we are also trying to test the code. Looking forward to see your conclusion too!

[2017-07-24 15:08] junzis commented on #6
@fbyrkjeland, from the official doc, the bits are:
C1, A1, C2, A2, C4, A4, ZERO, B1, ZERO, B2, D2, B4, D4

I guess, the D1 is not used for altitude code... would that be the problem?

The correct bit-sequence is indeed as in your previous version of code:
D2, D4, A1, A2, A4, B1, B2, B4  |  C1, C2, C4

[2017-07-25 10:35] junzis commented on #6
@fbyrkjeland @hv92
I think the issue is finally fixed! There seems to be some error in @fbyrkjeland gray2bin() function. There correct code and test are:

Code
-------

[code]

Test
------

[code]

@EvenAR, I think this function is finally implemented and working. If no more bugs found, I will close issue one shortly.

[2017-07-25 11:51] fbyrkjeland commented on #6
Oki!
I will implement your version tonight and test it!!

Fb

Hilsen Frode Byrkjeland

[2017-09-20 18:06] #6 closed

[2018-03-23 08:51] Michal166 opened #16 "Parsing of Type Code 31 messages"
Hi guys,
Do you plan to add methods for parsing Aircraft Operation Status messages?
http://mode-s.org/decode/adsb/advance/operation-status.html

I am mainly interested in  ADS-B version number, NAC and SIL.

Thanks for your great work,
Michal

[2018-04-26 06:47] srofen opened #19 "Decoding temperatue in ehs.py"
when I was decoding temperature in df20 and df21 I got wrong results. When I changed function "def temp44(msg, rev=False)", results was OK. see attached file for details.

[weather.txt](https://github.com/junzis/pyModeS/files/1949999/weather.txt)

[2018-05-02 12:38] junzis commented on #19
@srofen, thanks for the update. This is now fixed by 11b85b6 in the dev-2.0 branch.

[2018-05-02 12:38] #19 closed

[2018-05-06 10:29] AntRivas16 opened #20 "MRAR capability"
Hello guys,

First of all, my name is Antonio and I'm developing a project in which we want to receive Mode-S MRAR (BDS 4,4), so when I discovered pyModeS I thought I had found the perfect solution.

I have downloaded it and, after reading the book and playing with the programme, two problems/doubts came up:

- I had never used python. That's why it is a new and complex world for me, so there are

[2018-05-08 08:50] junzis commented on #20
Hi @AntRivas16, the streaming function will be one of our goal for the new pyModeS release. You can see the code and progress in the dev-2.0 branch, specifically the streamer package: https://github.com/junzis/pyModeS/tree/dev-2.0/pyModeS/streamer

However, the new version is not fully ready yet. The MRAR functions are especially weak at this moment, and it is not integrated in the streamer. This

[2018-05-12 09:43] AntRivas16 commented on #20
Hi junzis,

First of all, thank so much for your help.

I've been talking with the project leader and the conclusion has not been as positive as I had expected because we need a device which could send an interrogation and receive its response. However SBS-3 is only a receiver so the only way to obtain messages as MRAR is receiving the responses to interrogations made by others devices.

I will tr

[2018-05-23 12:06] junzis commented on #20
@adsbxchange Thanks, James! That's great. I will send you an email. Cheers!

[2018-06-12 12:13] JoseAndresMR opened #22 "Uncertainty & Accuracy parameters"
Hello everyone,

First of all, my name is José Andrés and I am member of a robotics research group focused on UAVs. We are recently introducing our research on ADS-B for UTM utilities and this project fits perfect with our first requirements. So thank you so much for such a great job of code and manual book.

I am implementing NACp, NACv and SIL myself as well as version 2 for NIC. Here comes the

[2018-06-18 18:06] junzis commented on #22
@JoseAndresMR, Thanks for the comment. You are right. The NIC function in pyModeS is not correct. It requires more work here. I am still working on the dev-2.0 branch of the pyModeS with more fuction, Such as ADS-B version, operational status decoding, etc. Hope all these will be included in the 2.0 release.

Yes, It would be great if you can share your code. Just make a pull request. I will have

[2018-06-20 07:52] JoseAndresMR commented on #22
That's perfect. I will share it as soon as it is ready with new changes.

I think it would be more suitable if adsb.py became a class in order to get all these parameters (version number, NICs, NICa, NICb, NICc, NIC, SILs) inside once known. Let me know what you think and I will do a pull request with all staff so you can check it.

[2018-06-20 14:54] junzis commented on #22
Hi @JoseAndresMR, I implemented the decoder fully functional (not OOP) from the start. All the decoding functions take a message and spell out something certain. The message type is checked and raise errors if not matching.

I understand this scarifies the flexibility of handling different message types and requires the user to build a flow logic on top of it. But I think it is very simple to read

[2018-06-22 10:43] JoseAndresMR commented on #22
Hi @junzis . from the very first moment I got on it, I understood the hierarchy of the code and also think this is the best way. Pull request is already sent and I think we can close this issue.

[2018-06-22 22:27] junzis commented on #22
With some bug fixing, I update the streamer with the uncertainties parameters. It works nicely.  Here is a screenshot of the live terminal:

![selection_012](https://user-images.githubusercontent.com/9550577/41801585-c2c8f73c-767b-11e8-9e28-cf33e6e50860.png)

Yes, I will incorporate the exact uncertainty values from a csv, then will just show these values. In this way, we can add the version 0 unc

[2018-06-23 11:14] JoseAndresMR commented on #22
That's nice! In a few days I will make a new  pull request with both version 0 and csv staff implemented

[2018-06-29 12:19] #22 closed

[2018-07-23 19:28] dwood97 opened #25 "UserWarning: Normalizing '2.0-dev' to '2.0.dev0'"
I get this error when trying to run the setup.py. Is there a way to fix this?

[2018-07-23 19:38] #25 closed

[2018-07-23 21:30] dwood97 opened #26 "Does this work on already stored data?"
Hi,

Does this parse out the hex data if it is already stored in say a .csv, or does it only parse it as the data comes in?

[2018-07-24 09:11] junzis commented on #26
The `modeslive` is an independent layer handles streaming data. The underlying pyModeS decoder works the same as before.

[2018-07-24 15:18] dwood97 commented on #26
So even though the data is different in the csv test files, the decoder will be able to determine which type of data it is by running...? My receiver receives both the adsb and commb data it seems, so I am confused on if the decoder can do both at the same time?

[2018-07-24 16:43] junzis commented on #26
It does not work out of the box. You will have to adapt the code to read data from csv.

Have a look at the code at:

https://github.com/junzis/pyModeS/blob/master/pyModeS/streamer/modeslive

[2018-07-24 16:58] dwood97 commented on #26
OK, basically where I am at is that with you sil-master files I can save data to a csv. With other software I can get live decoded ads-b data, but it is not saved. What I am looking for is to save decoded ads-b data, ideally to a csv or database. It does not need to be real time. So is modifying modeslive the best way to go still?

Also, thank you for the replies and I realize these are probably r

[2018-07-24 17:50] junzis commented on #26
Oh, I see now. If you only need the information based on ADS-B (position, ground speed). I would recommend using the following existing scripts:

https://github.com/junzis/sil/tree/master/extra_tools

They use Pandas to load the raw CSV, decode and save the output to a new CSV. The columns may be different. So you need to update these scripts a little bit. You also need to filter out the non ADS-B

[2018-07-24 17:57] dwood97 commented on #26
Alright. So only the extra_tools works on actually saving any data offline right now? That helps, thank you.

[2018-07-24 18:33] junzis commented on #26
The scripts in extra_tools do the offline decoding.

We mostly use pyModeS and build different logics on top. It is not complicated to write these scripts in Python. I don't see a tool that does everything we need, especially when we need to extract more information from raw data. This is also why we came up with pyModeS. It's like legos, we just have to pile up the functions to get the informatio

[2018-07-24 19:46] dwood97 commented on #26
OK I think I see. I will try modifying to code to see if I can get something working.

Here are some of the posts I have been following:
https://discussions.flightaware.com/t/tool-for-decoding-beast-format-ads-b-data/17007
http://10pm-blog.blogspot.com/2016/03/new-improved-ads-b-aircraft-data.html

There are some tools available, but a lot of them use code that is over my comprehension and experti

[2018-09-08 14:15] nunojpg commented on #20
Hi @junzis,

I took a look at your code regading this feature, and while it is documented, it seems there are no unit tests and no way to validate the implementation.

For eg. the temperature on the unrevised version is being calculated with a LSb of 0.125ºC while I think the LSb is 0.25ºC.

Do you have any real and confirmed test data available?

Thanks!

[2018-09-10 11:45] junzis commented on #20
Hi @nunojpg, 0.25 is what is indicated in ICAO Doc.9871. However, we believe it was a mistake in the original ICAO document.

If one want to use 10 bit to the represent 128 (decimal), the lowest should be 0.125 (=128 / 2^10). This is also what has been corrected in the revision BDS 44 and 45.

But till now, I still don't know whether manufacutres are using the wrong implementation or they spotted

[2018-09-10 12:02] nunojpg commented on #20
Would be so nice if someone could get the hands on validated DF20 and 21 frames with Asterix decoding, so reliable unit tests could be provided. I think I need to beg to Eurocontrol or some kind ATC provider.

[2018-10-30 15:56] aaubrypro opened #28 "Decoding position problem"
Hi,

I found out some problems with the position function. It gives me non continuous positions, sometimes jumping over several hundred km. I have a unit test reproducing the (possible) bug. It contains a set of real world ads-b messages. It seems to be coming from the calculation of the latitude index (j). At a certain moment, it goes from 7 to 8, and the tracks start jumping far from their actua

[2018-11-01 16:17] aaubrypro commented on #28
Finally, there is no problem.  The msg3 came 23 seconds later after msg2. In this case (over 10 seconds), the global calculation way is not recommanded.

[2018-11-01 16:17] #28 closed

[2018-11-02 01:31] junzis commented on #28
Hi @aaubrypro, In this case you can still use msg3 and previous decoded position with function `pms.adsb.airborne_position_with_ref(msg, lat_ref, lon_ref)`, as long as the reference location is within 180nm (~ 330km).

[2018-11-13 05:24] bupt-zsp opened #30 "Whether ADS-B include time information?"
Dear researcher:
      Thanks for your job first. It's a great job for me to learn about ADS-B. After I read the guide book, I find all the time stamp seems like a local time. So I want to know whether ADS-B broadcast it's own clock in ADS-B frame. If so, how can I capture it.

[2018-11-21 09:40] junzis commented on #30
ADS-B does not broadcast any time information. You have to rely on the receiver clock. Some ADS-B receiver can connect to a GPS receiver to provide an accurate timestamp.

[2018-11-30 22:08] #30 closed

[2018-12-10 09:46] louis030195 opened #34 "Online decoder ?"
Hello,

First, thanks for the great documentation and decoder !

I saw there is not any online decoder for ADS-B / Mode-S messages, I think it would be great to make either a website or a REST API (flask ...) to decode already received messages !

[2019-01-28 15:12] robertkendrick opened #36 "Msg 14bytes or 28bytes"
In your pymodes documentation each message argument is noted as being 28 bytes. I thought that ADSB messages were 14 bytes long (112 bits)
Please explain. Thanks.

[2019-01-29 18:25] robertkendrick commented on #36
OK. No need to reply. I see that that your API <msg> arguments are 28 chars in length ( ie a 28byte string that represents the 14byte original ADSB message).
Appreciate your work.

regards

[2019-02-05 12:23] #36 closed

[2019-02-08 16:07] junzis commented on #34
@louis030195 you are welcomed to extend the use case of pyModeS. Perhaps a separate repository would be the best to keep the current pyModeS small.

[2019-04-04 05:45] cjohn98 opened #37 "Programming ADS-B Out"
This is all great, you've done a really good job explaining how everything works.

I'm tasked with the job of creating an ADS-B Out for a school project. Any tips or advice for doing what you've done here in reverse?

[2019-04-04 07:23] junzis commented on #37
Most of the ADS-B information except CPR position can be reversed easily since they are conversions between decimal and binary reprentation .

In order to get the CPR working, I would recommend looking at the ICAO Annex 10 - Vol3, for example at: http://antena.fe.uni-lj.si/literatura/Razno/Avionika/modes/CPRencoding.pdf

I am also interested in adding a ADS-B encoder to pyModeS. PR is very welcome

[2019-04-05 01:06] cjohn98 commented on #37
Great thanks for the help! I'll let you know when we've finished and any tips/tricks I can think of.

[2019-05-02 15:27] hisetip opened #38 "Can't use "is45(msg)" function"
I have no way of checking if the MODE-S message is BDS 4,5
For the other messages, things like pms.commb.is10(msg) works but pms.commb.is45(msg) doesn't.

[2019-05-02 16:21] hisetip commented on #38
actually, can't even access functions from

[2019-05-02 16:21] #38 closed

[2019-05-20 02:55] kelvinxuande opened #40 "Decoding Raw Data Stream"
Hi,

Thank you for the great job done so far. I am using Radarcape for one of my school projects and am tasked to extract some key information such as the squawk code and timestamp from the data received.

I have wrote afew lines of code:
[client.txt](https://github.com/junzis/pyModeS/files/3196098/client.txt)
and printed the data acquried onto .txt for reference:
[sample_output.txt](https://githu

[2019-05-22 16:51] helmiTouel opened #41 "Need Help for setup"
I found your work on ADS-B decoding and I found it very interesting.
I installed pyModeS-2.1 on my Pi3B+. Would you help me for next steps ?

I have a very little experience in the world of flight trucking.
I have a DVB-T + PI3B+, I run dump1090 and I launch h=localhost:8080.
That's basically what I know. I never used ModeSMixer neither PlanePlotter.

What should I do with pyModeS, how to launch i

[2019-05-27 08:37] junzis commented on #40
The TCP client module from pyModeS can be used here. You need to reimplement the ``handel_messages()`` function from the ``BaseClient`` class to write your own logic to handle the messages. Here is an example:

[code]

[2019-05-27 08:48] junzis commented on #41
Thank you! pyModeS is aimed for low-level decoding, which is primarily used as a python package. There isn't any visualization planned yet.

I think dump1090 is better suited for your propose. A google search on dump1090 tutorial gives me this: https://www.satsignal.eu/raspberry-pi/dump1090.html, which looks quite detailed.

[2019-05-27 08:48] #41 closed

[2019-05-27 08:48] #34 closed

[2019-05-29 01:11] kelvinxuande commented on #40
Thank you so much for your input. Much appreciated. I have gotten past that hurdle and learnt much.
I have an added concern: looking at the code, I realised that it is highly likely that some data messages could have been lost, since the data stream is continuous and there are multiple data handling functions, during which incoming data is not being collected and hence lost - Is this observation a

[2019-06-03 23:43] amhirsch opened #42 "Anomalous Short Message Decoding Interferance"
The following messages have come from `dump1090-fa` beast feed on `localhost:30005` are clearly incorrect.
The options `--modeac` and `--no-crc-check` are **not** enabled.

These messages are decoded as DF-17 Airborne position messages.

[code]
outputs
[code]

This caused problems in my repository when the messages were sent to `pyModeS.adsb.airborne_position()` or `pyModeS.adsb.airborne_position_

[2019-06-06 09:48] junzis commented on #42
Ok, fixed now in 24806f7. I added an additional check on the downlink format in addition to the message length.

[2019-06-06 09:50] #42 closed

[2019-08-22 15:07] meneerbo commented on #40
I tried to run this as well, but at startup it gives me the following error:
name 'ModesClient' is not defined
I have pyModeS 2 installed, so maybe there is something else I need to install?

[2019-08-22 17:40] junzis commented on #40
@meneerbo You are right.

``ModesClient`` should be ``ADSBClient``. I just updated the earlier example code.

[2019-08-23 09:06] meneerbo commented on #40
Thanks for the prompt reply and fix.

[2019-08-23 09:40] kelvinxuande opened #46 "Multiprocessing"
Just a quick note (in the open-source spirit) to anyone who may be interested; I have written an alternative client-side implementation with similar core modules that utilises multiprocessing in an attempt to multilat mode-AC messages as well. The source code can be found here: [https://github.com/kelvinxuande/dso_internship_mlat-client](url). I would really appreciate any comments on it as well!

[2019-08-23 13:15] junzis commented on #46
@kelvinxuande - Nice work! Thanks for sharing. The multi-processing and better timestamping would be great to be included in pyModeS too.

[2019-08-26 10:02] junzis commented on #46
Multiprocessing implemented in cfcd21b now.

[2019-08-26 10:03] #46 closed

[2019-09-09 20:16] davedice opened #50 "Exception thrown from pyModeS/decoder/common.py", line 8, in hex2bin -- ValueError: invalid literal for int() with base 16: '8DB5AEC399146B0A40080A1A45C2L'"
I downloaded pyModes-master on 2019-9-9 and installed it in-place and then encountered an exception.
The same error occurs if I use a traditional "pip install ." command instead of in-place installation.

I'm running off-the-shelf 64-bit ubuntu 19.04 (fully updated) on a Toshiba laptop, although I could reproduce the
the same issue on a similarly configured ubuntu 19.04 skylake desktop system.

I'

[2019-09-09 21:33] junzis commented on #50
@davedice - thank you for raising this. There seem to be two separate problems. Let's try to send the odd "L" first. Would you please tell me which Python version you are running?

[2019-09-09 21:49] junzis commented on #50
I did a quick check the "L" seems to be an unwanted thing in Python 2, which is then removed in Python 3.

I haven't thoroughly tested the new functionalities with Python 2... I will try to fix this in the coming days.

Btw, most of the project nowadays are transforming to Python 3. At some point, we will probably drop the support for Python 2.

[2019-09-09 21:50] davedice commented on #50
Thanks for the fast response.  I just tried virtualenv with /usr/bin/python3.7 and, with the latest source, all worked well.   Would you like to close the issue?

[2019-09-09 21:52] junzis commented on #50
Let's keep it open for now. I will try to do some debugging with Python 2. I still hope this can work with Python 2 for a bit longer :)

[2019-09-09 21:55] davedice commented on #50
Thanks again, -Dave

[2019-09-24 14:41] junzis commented on #50
This Python 2 bug should be fixed now.

[2019-09-24 14:41] #50 closed

[2019-09-24 15:26] maranov opened #51 "Missing zmq package"
Hi, since 2.3, the pyzmq is not "extras" anymore, since pyModeS can't be imported without it:
[code]

It should probably be either moved to install_requires or the imports should be moved to function-level.

Thanks.

pyModeS 2.3 on Python 3.7.4, 64-bit, Windows.

[2019-09-24 19:37] junzis commented on #51
Thanks for point this out. I pushed a new version (2.4) which fixed the imports.

[2019-09-24 19:37] #51 closed

[2019-11-19 21:04] dragonis41 opened #54 "HackRF is not supported ?"
When I ran ```modeslive --source rtlsdr```
It results by ```IOError: Error code -1 when opening SDR (device index = 0)```

[2019-11-20 11:41] marius190 commented on #20
I've made some test comparing MRAR data and meteorological derived data from BDS 5.0 and BDS 6.0 and it looks like the temperature explained in the ICAO document is the correct one.

[2019-11-25 15:08] junzis commented on #54
For the moment, it only supports the RTL-SDR devices. I will add SoapySDR in the future to support other SDR devices.

[2019-12-09 19:54] PeterFelgate opened #56 "Issue with ADSB_Encode"
I am totally new to python.  I am trying to run the ADSB_Encode program.  I resolved the first issue which appeared to be missing parentheses around a pair of print statements.

I am using the following on the latest Windows 10 build having used pip to load numpy:
Python 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:21:23) [MSC v.1916 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "

[2020-02-24 21:01] wrobell opened #58 "quality of surface positions"
I have tried to map surface positions (type code 5-8). My reference point is Dublin airport.

As you can see on the map below, I have many positions outside the airport.

Is that normal? Or is there a possible bug in calculations?

![map](https://gist.githubusercontent.com/wrobell/7b264702a678ffdc8010778fa9fd0a8d/raw/f78720cd1c1877ce6e682abca10aa45450435145/2020-02-24-surface-positions.png)

[2020-02-27 18:33] wrobell opened #60 "quality of airbone positions"
Please consider the script below. Its output is as follows (columns are timestamp, typecode, oe flag and message)
[code]
I have received sequence of above messages. If I calculate the position using message pairs, then the position is far, far away from the airport near by I am getting the messages. When calculating the positions using reference location (Dublin airport) the result looks more plau

[2020-02-27 22:58] wrobell opened #61 "extend api to support binary version of ADS-B messages"
When I receive ADS-B message from `dump1090` I am converting it to binary form with `binascii.unhexlify`. This is much more efficient to store than saving string version of messages.

To decode the messages, I am reading them from a database in binary form, convert to string using `binascii.hexlify` and then use `pyModeS`. But, internally, `pyModeS` converts a message to binary form again (this or

[2020-02-27 23:36] wrobell commented on #60
I also recalculated all positions in my database with the following algorithm
[code]
and plotted it on a map

![pairs](https://gist.github.com/wrobell/7b264702a678ffdc8010778fa9fd0a8d/raw/756a573c23ce75628782b335fbb8e32517943318/2020-02-27-pos-pairs.png)

As you can see I can provide a lot of examples where there is some issue with calculation or my data or the algorithm above.

For comparison, be

[2020-03-02 11:03] junzis commented on #60
I think the CPR algorithm is correctly implemented in pyModeS. However, it is possible that the decoded globally unambiguous airborne or surface position is wrong using the CPR encoding algorithm.

According to ICAO Doc 9871, we have to perform a "reasonableness" check for these decoding results.

This is something worth to be added to pyModeS. However, we might have to implement it in the streami

[2020-03-02 21:25] wrobell commented on #60
Thanks for pointing me to the document. First of all, the airborne section says that the even/odd messages should be no more than 10s apart[1]. After correction of my algorithm the map looks bit better (and it yields few million less positions, which is understandable)

![pairs](https://gist.github.com/wrobell/7b264702a678ffdc8010778fa9fd0a8d/raw/a5a293b3d308a335a0614a8d5da2a790b5093987/2020-03-01

[2020-03-02 22:33] wrobell opened #62 "calculation of NL for -87 and 87 latitudes"
The code is in `cprNL` function is

[code]

Considering that latitude is a float obtained using IEEE-754 standard, IMHO, it is highly unlikely we will hit -87/87 exactly (https://docs.python.org/3/tutorial/floatingpoint.html). Should `math.isclose` be used here (https://docs.python.org/3/library/math.html#math.isclose)?

[2020-03-02 23:18] wrobell commented on #60
I looked more into the document. It says that first, a pair of messages should be used to calculate position (global). Then the position should be used as reference position for next message (local) and new position becomes new reference position.

If I have not missed anything your streaming module implements above.

Using such algorithm, the map looks much better (and I get few million positions

[2020-03-02 23:18] #60 closed

[2020-03-03 11:15] junzis commented on #60
Looks good! It is also possible the input data from FMS to the transponder is wrong, for example, the straight line through Africa. Normally, if you know the position of your receiver, these kinds of errors can be easily filtered out.

[2020-03-03 11:40] junzis commented on #62
You are absolutely right! Now fixed with commit ed18352.

[2020-03-03 11:42] junzis commented on #58
Is this somehow related to issue #60?

Please feel free to send me some data to have a look.

[2020-03-03 11:43] #26 closed

[2020-03-03 11:44] #20 closed

[2020-03-03 11:45] #37 closed

[2020-03-03 11:45] #40 closed

[2020-03-03 11:49] junzis commented on #56
You should refer to ``ADSB-Out`` repository.

[2020-03-03 11:49] #56 closed

[2020-03-03 12:01] junzis commented on #61
string vs bytes, hex vs bin, I know this day will come :smiley:

I will think about this. Perhaps, this would be a major change for pyModeS 3.x in the future, since many dependency may break...

@xoolive, any thought?

[2020-03-03 12:11] wrobell commented on #58
I think that's the same problem as in #60. Reasonableness test needs to be applied.

[2020-03-03 12:11] #58 closed

[2020-03-03 12:28] xoolive commented on #61
Indeed, it would be great to clarify the use of data structures as it would be beneficial at the performance level as well.

We tried some performance improvement with Cython in the [speedup branch](https://github.com/junzis/pyModeS/tree/speedup) and saw that the choice of the most relevant structures to support was at stake.

The lessons to take from this shot, imho, are:
- choose one structure f

[2020-03-03 12:45] wrobell commented on #61
There are a lot of projects using Cython (see uvloop or asyncpg for reference). I am not aware of any unsupported architectures. Personally, I am using it in a lot of my projects on x86_64 laptop and multiple ARM based Raspberry Pi (A, Zero, 3, 4).  IMHO, I would stick just to Cython for certain functions and avoid code duplication.

(however, if you decide to provide two implementations, please l

[2020-03-03 14:44] junzis commented on #61
For the moment, I merged only the Cythin code for the ``common`` package (from the speedup branch). Those are the functions that are called all the time. It is still more than twice faster than pure python with the benchmark.

In the currently pyModeS version 2.x,  even with the optional Cython ``c_common`` module, all the inputs are still strings.

I think this might be the most logical way to mo

[2020-03-03 19:19] wrobell commented on #58
I will try to provide some data samples as well.

[2020-03-03 19:27] wrobell commented on #61
On the compatibility and supported inputs. Looking at the API, I think first parameter of every function is a message.

Therefore, `singledispatch` could be used to overload first parameter, i.e.
[code]

This should allow backward compatibility as well.

[2020-03-03 21:56] xoolive commented on #61
Indeed, `singledispatch` would be a reasonable way to address this though I guess the biggest chunk of the work would be to clarify types in the core decoding functions.

Also I believe it is always reasonable to keep a pure Python implementation as a fallback option. Even if it is always possible to compile the whole package for any architecture/platform/python version, a person in charge of an o

[2020-03-04 10:52] wrobell commented on #60
I have hacked some version of  reasonableness test in my scripts and got very good results. I will try to convert it into a proper function in next few days. One can follow commits in my project

https://gitlab.com/wrobell/sq1090/-/commits/master

My intention is to implement a reusable function. If I am successful, I can propose it be included in pyModeS via a pull request. Time will show. :)

[2020-03-05 12:57] wrobell opened #63 "calculate surface position using even/odd message pair"
It would be great if pyModeS allowed to calculate surface positions using even/odd message pairs.

At the moment it is possible to calculate surface position with a known position of receiver or an airport. But it is not possible to use that position to verify the surface position (see reasonableness tests in ICAO document 9871), because known position has no time information and might be quite fa

[2020-03-06 16:34] wrobell commented on #58
Interesting case of surface positions below. The plane is on its track (typecode 11) and seems to land in the Irish Sea (typecode 7)
[code]

[2020-03-06 16:59] wrobell commented on #63
I would like to provide an example where validation, as described in ICAO document 9871, would be useful. The example is from #58.

[code]
*Without* validation, the plane is on its track (typecode 11) and lands in Irish sea (typecode 7). All positions reported via above messages are easily within range of my receiver, so range based verification will not filter out anything here.

At 11:41:28 the

[2020-03-06 19:07] wrobell commented on #60
The algorithm is implemented, but for airborne positions only at the moment (see #63)

    https://gitlab.com/wrobell/sq1090/-/blob/master/sq1090/pos_parser.py

The map of positions looks much better (bit different type of map this time, the darker color shows more positions)
![map](https://gist.github.com/wrobell/7b264702a678ffdc8010778fa9fd0a8d/raw/635123f56aaa82ab0e955329ec65979378cfb966/2020-0

[2020-03-08 23:43] wrobell opened #64 "parse emitter category data"
The following section mentions emitter category for aircraft category, i.e. heavy, large, glider

    https://mode-s.org/decode/adsb/identification.html

I believe there is no function in `pyModeS` library to parse the information? It would be great if it has been implemented.

[2020-03-09 16:00] VedantParanjape opened #65 "No way to read and decode from a raw IQ data file"
In rtlreader.py, the decoder decodes only data from a rtl, there is no way to pass raw iq data to it from outside, and whenever object of rtlreader is created, it is necessary to have a rtl device connected, as in the constructor RtlSdr() is called.

_Sent from my moto g(6) using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2020-03-09 20:17] junzis commented on #63
Have you tried to use the following?

[code]

With this function, you can also use a pair of even/odd surface position messages. However, you always need the reference position for surface position decoding.

The corresponding lower-level function is at:
https://github.com/junzis/pyModeS/blob/master/pyModeS/decoder/bds/bds06.py#L12

[2020-03-09 23:08] wrobell commented on #63
Thanks for the pointer. I got confused by the error message when I specified no reference position.

[2020-03-09 23:08] #63 closed

[2020-03-10 00:03] wrobell commented on #58
Below list of surface position messages (time, typecode, message) in my dataset, which location is more than 3km from my reference point (53.42138, -6.27).

[code]

[2020-03-10 23:57] wrobell commented on #61
Even now, the API can support both hex strings and bytes. Please see https://github.com/junzis/pyModeS/pull/67.

[2020-03-19 21:57] wrobell commented on #60
I have finished implementing the algorithm for both surface and airborne positions (see also my previous comment). The reasonableness tests, as described in the ICAO document, are very important in removal of anomalies. Still, I am getting some positions, which I suspect are not within range of my receiver. Therefore, when plotting maps like below, I am removing 1% of outliers (outliers in terms o

[2020-04-04 16:25] fre391 opened #68 "bds05.py: Arguments"
In the file bds05.py is the following description of the arguments:
'''
                airborne_position(msg0, msg1, t0, t1):
                # msg0 (string): even message (28 bytes hexadecimal string)
                # msg1 (string): odd message (28 bytes hexadecimal string)
                # t0 (int): timestamps for the even message
                # t1 (int): timestamps for the odd message
'''

[2020-04-04 16:28] fre391 commented on #68
Oh sorry, immediately after writing this topic I notice that Im wrong. Of course, the timestamp t0 needs to be higher that the t1. Well, might be a long day here....Pls, close this ticket as everything is fine....Sorry again.

[2020-04-04 16:28] #68 closed

[2020-06-16 09:23] booo opened #72 "modeslive -h/--help should show help"
Issuing modeslive -h or modeslive --help should show the help text.

[2020-06-27 18:12] Wilm0r opened #73 "Not exporting RSSI (signal strength) info"
I was thinking of using this library to write some scripts for gain tweaking, but it looks like the library is ignoring signal strength info from Beast streams? :-(

[2020-07-07 11:35] t-ctrl opened #74 "Error in importing / Traceback (most recent calls last)"
calling modeslive --help gives the following erors

# modeslive --help
/usr/lib/python3/dist-packages/apport/report.py:13: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import fnmatch, glob, traceback, errno, sys, atexit, locale, imp
Traceback (most recent call last):
  File "/usr/local/bin/modeslive", line 12, in <mo

[2020-07-13 16:50] junzis commented on #74
I suspect this has something to do with the rtl-sdr library on your computer.

Please try to reinstall `librtlsdr-dev` and `librtlsdr0` to see if it solves the problem.

[2020-07-13 16:54] junzis commented on #72
It seems the stdout was redirected before the `argparse`. Now the bug should be fixed in 0d7f628.

[2020-07-13 16:54] #72 closed

[2020-07-13 18:48] booo commented on #72
Super nice. Thanks for your work!

[2020-07-13 22:14] sdradsb opened #75 "modeslive --hex2bin bug"
modeslive --source rtlsdr
Traceback (most recent call last):
  File "/home/lal/.local/bin/modeslive", line 10, in <module>
    from pyModeS.streamer.decode import Decode
  File "/home/lal/.local/lib/python2.7/site-packages/pyModeS/__init__.py", line 8, in <module>
    from . import py_common as common
  File "/home/lal/.local/lib/python2.7/site-packages/pyModeS/py_common.py", line 7
    def hex2bi

[2020-07-19 18:58] junzis commented on #75
Python 2 is not supported. You need to update your Python to 3.6+.

[2020-07-19 18:58] #75 closed

[2020-07-22 09:42] faheem1302 opened #76 "Equipment Class"
I need to get Equipment Class(A1S,A1,A2,B1). Couldnt find any function supporting it

[2020-07-27 00:37] kastork commented on #74
not my ticket, but installing `librtlsdr` solved this sort of problem for me. (on a mac simply `brew install librtlsdr`)

I understand the need for this library for accessing the radio directly.  Don't know if it is possible, but It would be nice if this dependency wasn't necessary when accessing a dump1090 network stream from another device.

[2020-08-03 22:06] jmceara opened #77 "Cannot import c_common"
Hi!
I was using an old version of pyModeS to make some tests. Recently I've updated to latest version, installation is ok, but I can't run anything, even modeslive. It's a bug in pyModeS or am I missing something?
I've setup python3 as default for my system.

[code]

also, I'm trying to use this script, but got the same import error:
[code]

[2020-08-03 22:12] jmceara commented on #77
Ok, I've removed packages (pyModeS*) from .local dir (in home from user) and from /usr/local/lib/python3.5/dist-packages/.
Done install again.....still same problem, with different path:
[code]

[2020-08-08 12:33] imanolpg opened #78 "AttributeError: 'NoneType' object has no attribute 'put'"
I have copied the code to customize the streaming module shown in the README file but I get this error:

[code]

Hoping it was a python error I have launched `modeslive --source rtlsdr` in terminal and I get this output befor exiting
[code]

I have used the module _pyrtlsdr_ with no problem and I am able to use the dongle with _Gqrx_ app

[2020-08-08 13:10] imanolpg commented on #77
Hello @jmceara.

Try removing and installing all again with pip: `pip3 remove pyModeS` and `pip3 install pyModeS`.

If the error is still there, make sure that in the module directory _/usr/local/lib/python3.5/dist-packages/pyModeS_ exists the files _c_common.pxd_ and _c_common.pyx_

[2020-08-16 22:18] junzis commented on #77
There seems to be an incompatibility issue with the new typing hint.

Statements like ``addr: Optional[str]`` are not supported in Python 3.5.

FYI, @xoolive, I think I should remove these statements.

[2020-08-16 22:23] junzis commented on #77
@jmceara, @imanolpg, the simple solution, for now, is to update your Python to 3.7+.

[2020-08-16 22:48] junzis commented on #77
@jmceara, @imanolpg, (and @xoolive FYI)

I did some tests with different Python versions. The error is caused by variable annotation (PEP 526) in the `py_common` module. It only effects Python version 3.5 and below.

So, the simplest option is to update you Python to 3.6+ for now.

I will evaluate the code to see if we should keep the variable annotation, or make Python 3.6 the minimum required ve

[2020-08-16 22:59] junzis commented on #78
Should be fixed with commit 0ced97e now.
You can install the version from the main branch and try again.

[2020-08-16 23:21] junzis commented on #74
@kastork, good recommendation. This is considered now in the commit 7a4c465.

[2020-08-16 23:21] #74 closed

[2020-08-16 23:21] #78 closed

[2020-08-16 23:25] junzis commented on #76
I don't think this information is included in ADS-B messages. Please provide more details if you know it is for certain.

[2020-08-17 06:12] xoolive commented on #77
Indeed variable annotation syntax is only valid from Python 3.6 (to put things in perspective, Python 3.9rc1 is just out!)

From Python 3.6 we can write
[code]

In Python 3.5, the following syntax is valid and should be readable by MyPy (second part to be confirmed...)
[code]

The first syntax is more flexible but the second should do the job if we just want type hints as information. So yes, in t

[2020-08-24 04:02] imanolpg commented on #77
Ok. Thanks for your help. I will update python version

[2020-08-25 19:20] carvicas opened #79 "Not receiving squawk"
I receive all the other ADS-B messages but not the squawk ones. Are commercial planes actually emiting them or maybe in emergency cases only?

[2020-08-27 10:00] junzis commented on #79
Squawk codes are not transmitted in ADS-B.

You may want to use other types of Mode S messages (DF 5 or 21), and you can use the `idcode()` from pyModeS to decode the squawk.

https://github.com/junzis/pyModeS#decode-identity-replies-in-df5--df21

[2020-08-27 10:00] #76 closed

[2020-09-03 23:15] SamMiddleton opened #80 "Timestamp format not clear"
Several position functions require timestamps to be provided and the documentation says these have type int, but I cannot find instructions on how to correctly turn the time the message was received into an int.

[2020-09-05 16:16] carvicas commented on #79
Thank you for the answer.

Is the message lenght 28 for all pyModeS messages (including the squawk) or only for ADS-B ones?

If the answer is yes, I suppose that      "if len(msg) != 28:  # wrong data length"    should start all implementations to ensure (with
      "if pms.crc(msg) !=0:  # CRC fail")   that the message is ok.

[2020-09-16 10:10] christiankast opened #81 "Latitude/Longitude return values too small"
Hello,
just a simple question:
"cprlat_even = util.bin2int(msgbin0[54:71]) / 131072.0"
is returning a value which is sometimes too small because bin2int is returning an 16 bit integer. CPR information is 17 bit and can't be returned as integer. In my opinion the return value must be a long value or is there something I do not understand?
Cheers Christian

[2020-09-23 19:20] jmceara commented on #77
ok, got it working with version 3.6.12 of python....but I have another problem.
Now I'm getting this error:
[code]

[2020-09-23 21:01] junzis commented on #77
This seems strange. But I can't reproduce this.

Please provide a minimum working example, and the pyModeS version you are using.

[2020-09-23 23:35] jmceara commented on #77
It's exaclty the same code from my first post in this issue, except for the python path that I've changed from ```#!/usr/bin/python3 -O``` to ```#!/usr/local/bin/python3.6 -O```

I'm using python 3.8.12. program ```modeslive``` run fine, without any problem.

Note: Except for the import error in first msg of this topic, the code ran fine in previous version of python (and pyModeS). I mean, before

[2020-09-24 07:25] junzis commented on #77
I think it is a problem with installation.

Maybe try to remove pyModeS use pip uninstall, and then install it again to see if it solves the issue.

If it still doesn't work, try to install and run it the script in a python virtual environment.

If you are struggling with native python library on Linux, the easiest way is to use a python package management tool like anaconda.

[2020-11-07 11:03] junzis commented on #81
The return of an integer is only in Python 2. In Python 3, this will return a float.

[2020-11-07 11:03] #81 closed

[2020-11-07 19:15] junzis commented on #80
Those are simply referenced values. The newer message is expected to have a large timestamp value. For example, these would be the UNIX timestamps.

[2020-11-07 19:15] #80 closed

[2020-12-04 21:14] wrobell commented on #61
If possible, I would like to restart the discussion about this topic.

Another argument in favour of binary message processing:

[code]

Over 3 times faster.

[2020-12-04 21:42] xoolive commented on #61
@wrobell don't give up! I agree too... 🤣

[2020-12-07 11:02] junzis commented on #61
This has to be added as a decorator to all current functions if we are going down this path.

I am wondering if the unhexlify would slow the execution?

[2020-12-07 11:08] junzis commented on #61
My another comment:

is very hard to understand for people not familiar with bitwise operations.

This also means we have to change almost every function in the decoder. That's a very large project :fearful:

[2020-12-13 20:20] wrobell commented on #61
Thanks to function overload we could always create optimized versions for different types of inputs - strings, bytes... and arrays of these, see below. Indeed, there is a lot of work, but you can always fall back on slower implementation until new version is provided. The real challenge is to design nice API.

I was going through pyModeS code and realized that the most efficient implementation sho

[2020-12-14 08:23] junzis commented on #61
@wrobell, the performance looks quite promising.
Would you be interested to work on a new pyModeS branch directly?
This way, @xoolive and I can also help with integrating it with the rest of the code.

[2020-12-16 21:10] wrobell commented on #61
I will try to create some initial pull request in few days.

I am still exploring few options around NumPy's API.

[2021-01-05 18:25] wrobell opened #91 "Duplicate (possibly) code in bds05.py:altitude function"
In the `bds05.py:altitude` function

[code]

Both lines are the same, so... duplicate or a bug?

[2021-01-11 17:58] aqagha opened #93 "TAS cannot be determined for aircraft not transmitting heading information"
Hello,

I recently encountered and aircraft transmitting TAS information in mb[25:35] with an all-zero mb[14:24]. TAS determination was blocked by this statement.

Would it be logical to move this statement to the subtype check beneath it?

https://github.com/junzis/pyModeS/blob/89e67fae3185e3e202b9ba680ccfb0094527ed3e/pyModeS/decoder/bds/bds09.py#L38

[2021-01-11 18:27] wrobell commented on #91
This is the changeset, which is causing above confusion

[code]

IMHO, this is wrong change as ADS-B messages with typecode `>= 20` are treated as barometric ones now.

[2021-01-22 23:21] wiseman opened #97 "Possibly incorrect decoding of airborne position"
I haven't tracked it all the way down, but I think pyModeS may be incorrectly decoding this position. At least the position it returns disagrees with the position returned by two other libraries.

[code]

[code]

The position I get from [adsb](https://github.com/wiseman/adsb) and [antirez dump1090](https://github.com/antirez/dump1090/) is this:
[code]

Those two libraries use basically the same CP

[2021-01-23 00:04] junzis commented on #97
I think you might have given the wrong timestamps to the messages. The following code yields the same result:

[code]

[2021-01-23 00:16] junzis commented on #79
Sorry for this is a late reply. Not all Mode S messages are 112 bits, some are 56 bits. See following table.
https://mode-s.org/decode/content/introduction.html#tb:mode_s_formats

[2021-01-23 00:16] #79 closed

[2021-01-23 00:17] #77 closed

[2021-01-23 00:40] wiseman commented on #97
Duh, thank you!

[2021-01-23 00:40] #97 closed

[2021-01-23 00:41] junzis commented on #93
Thank you @aqagha. This has been fixed in the latest commit. Let me know if it works for you.

[2021-01-23 00:44] junzis commented on #91
You are right @wrobell. Thanks for spotting this. It has been fixed in the lastest code now. I am not sure how did that happen :man_facepalming: :smiley:

[2021-01-24 18:57] wrobell commented on #91
Would adding more unit tests help?

I have some specific data (i.e. barometric/qbit and gnss) and specific altitude calculation unit tests at: https://gitlab.com/wrobell/vmodes/-/blob/master/vmodes/tests/test_parser.py. Please feel free to take data from there. I also hope to bring more there soon.

[2021-01-24 18:57] #91 closed

[2021-02-03 19:44] wrobell opened #99 "nuc_p calculation and vertical containment radius"
In `nuc_p` function in `pyModeS/decoder/adsb.py`:

[code]

But in the ICAO document, it says that vertical position error should be 4 and 15 for typecode 20 and 21, it seems?

[2021-02-25 03:55] Sharonmy opened #102 "The postition out of range"
Hi~I have transformed my data as the same format as 'sample_data_adsb.csv'，and I run the progress 'sample_run_adsb.py' successfully,but why i got much wrong location ?
![image](https://user-images.githubusercontent.com/37867818/109100686-57e31e00-7760-11eb-84cd-a6684302b864.png)
![image](https://user-images.githubusercontent.com/37867818/109100729-63cee000-7760-11eb-9f92-990749da01d4.png)

[2021-02-26 15:21] wrobell commented on #102
The script implements very simple algorithm to calculate these positions. If you look into ICAO document, you will see that much more checks are required to filter out invalid data.

Also see discussion in #60.

[2021-03-06 12:18] aqagha commented on #93
Hello,

It has taken me a while to pick up a transmission similar to the one before. I've received a few messages which are breaking at line 69.

One troublesome message: '8D7785649940000018A00054AA87'.

What could be the reason behind aircraft sending such messages only encoding vs?

Thank you

[2021-03-12 15:00] junzis commented on #99
@wrobell, would you please point out where these are mentioned in the official document? I wasn't able to find it. Thanks.

[2021-03-12 16:39] wrobell commented on #99
Appendix A, page A-7, table: “TYPE” Subfield Code Definitions (DF = 17 or 18)

[2021-03-12 16:54] junzis commented on #102
@Sharonmy, this script is simply a quick and dirty way to check the decoding functions. You can take a look at the following script to see how the entire decoding flow works:
https://github.com/junzis/pyModeS/blob/master/pyModeS/streamer/decode.py

[2021-05-02 19:48] ghost opened #107 "altitude_diff missing - enhancment: add decoded value and calculate GNSS Alt"
https://github.com/junzis/pyModeS/blob/83e22892ba80829987acd5d84cb27f90532aef17/pyModeS/decoder/adsb.py#L8

`altitude_diff` missing to provide the GNSS altitude (height above ellipsoid (HAE) WGS84) difference from the barometric altitude "alt" (which is standard pressure, and not even MSL).

Request enhancement to decode this value and present to live-modes streamer and display.
Also request enhan

[2021-06-09 16:59] fredclausen opened #109 "BDS09 local variable trk referenced before assignment"
https://github.com/junzis/pyModeS/blob/83e22892ba80829987acd5d84cb27f90532aef17/pyModeS/decoder/bds/bds09.py#L69

Message ```8DAE041599080000000000E25EA8``` can cause an issue where the variable trk is referenced before assignment

Traceback

[code]

[2021-08-31 05:12] raviandri opened #115 "TypeError: cannot pickle '_curses.window' object"
Dear Junzis,

Very appreciate with pyModeS that could give me interesting use case as a noob on python.
I tried to run modeslive on windows environment but found error like this:

Traceback (most recent call last):
  File "C:\Users\**\AppData\Local\Programs\Python\Python39\Lib\site-packages\pyModeS\streamer\modeslive.py", line 140, in <module>
    screen_process.start()
  File "C:\Users\**\AppData

[2021-10-08 21:30] junzis commented on #109
@federicoorta, thanks for reporting the bug! This should be fixed in one of recent updates.

[2021-10-08 21:30] #109 closed

[2022-02-07 06:21] deepcoder opened #122 "Not a bug, just looking for help with using your library in a python async structure"
1st, just want to thank you for your great work on this! Very educational, interesting, fun and useful to explore with your code.

I am total noob here, so apologies up front. I am trying to create a python program based on your example. I would like the program to run nonstop, retrieving the local ads-b data and comparing it against ICAO code that is read from a Google Spreadsheet and doing some

[2022-02-07 06:54] deepcoder opened #123 "Determine the country of registration for an aircraft"
I apologize, I'm sure this is such a basic question. I am not able to see away to determine the country of origin of an aircraft from any of the apis here. Or is this something that is determined directly from the IAOC code of the aircraft. Thx!

[2022-02-08 13:19] xoolive commented on #122
async Python is a modern way to do concurrency in a single threaded program, there's nothing blocking on the handle_message side, so I am not sure what you mean here.
You would appreciate async access to a RTLSDR dongle but that's not the job of `pyModeS` (and as a matter of fact, it's part of `pyrtlsdr`.

[2022-02-08 13:19] #122 closed

[2022-02-08 13:22] xoolive commented on #123
Each `icao24` identifier fits within a range that is assigned to a country. There are official lists here and there, e.g. [here](https://github.com/xoolive/traffic/blob/master/traffic/data/basic/patterns.json)

Be aware that in some cases, the country associated with the `icao24` id could differ from the country you can infer from the registration/tail number.

[2022-02-08 13:22] #123 closed

[2022-02-09 06:20] deepcoder commented on #122
Thank you for your reply and information. However, to my original question, if you could expand your code example to show a 'async' version of your example below, that would be very helpful. When I tried to make my main and my override method 'handle_messages' 'async' it did NOT work. I am a noob here, however, your example instantiates your 'run' method, not my 'async'ed 'handle_messages' method.

[2022-02-09 06:21] deepcoder commented on #123
Thank you for you reply and information. I will try to use this JSON data and see what I get.

[2022-02-27 18:49] PirateSama commented on #73
hello is there aby function to get the RSSI value of the airplane signal ?

[2022-04-13 10:52] guidocioni opened #124 "Dumping weather data live to file"
Hi,
I'm trying to decode weather data (temperature, winds, pressure...) from ADS-B messages and dump it to file.
I already have a working installation of `dump1090-fa` and can see the data by connecting with `modeslive` to the beast port (`modeslive --source net --connect 127.0.0.1 30005 beast`).

The question is..how can I connect and stream the data directly using the python module to a file usi

[2022-04-18 12:43] madfeliks opened #125 "syntax error: expected ':'"
https://github.com/junzis/pyModeS/blob/5dc74a554804799a2b35274d70bac19d3e03c741/pyModeS/decoder/bds/bds20.py#L28

[2022-04-18 15:52] #125 closed

[2022-06-14 22:12] ElSabio97 opened #126 "hdg values not being dumped"
Hi @junzis !!

Why can't i get the hdg values exported to the csv file using `--dumpto` ?

We can export these to the csv `gs, trk, roc, roc60baro, roc60ins, tas50, roll50, trk50, gs50, lat, lon, alt, cs, rtrk50` but not `hdg`.

[2022-07-09 08:11] junzis commented on #126
Hi @ElSabio97, it is added now in b90932e51d1e6b2639ed822514e1f2888d659064

[2022-07-09 08:11] #126 closed

[2022-07-09 08:13] junzis commented on #124
hi, you can use this example code that process a specific type of messages in your code: https://github.com/junzis/pyModeS#customize-the-streaming-module

[2022-07-09 08:14] #115 closed

[2022-07-09 08:16] junzis commented on #107
`altitude_diff()` can be found at:
https://github.com/junzis/pyModeS/blob/83e22892ba80829987acd5d84cb27f90532aef17/pyModeS/decoder/bds/bds09.py#L106

[2022-07-09 08:16] #107 closed

[2022-07-11 09:41] devleaks opened #127 "Modeslive throws ValueError: ctypes objects containing pointers cannot be pickled"
Mac OS 12.4
Python 3.10.5
In a conda environment:
[code]

Hello,
When trying to get modeslive running, I get this error:

[code]

How can I further track the issue?
Thank you.

[2022-07-16 16:39] gmaxim28 opened #128 "TypeError"
Python 3.7.3
File "./pyModeS/decoder/bds/bds62.py", line 278, in baro_pressure_setting
    baro = round(baro, 1)
TypeError: type NoneType doesn't define __round__ method

check:
pms.tell("8d155c1dea197000013e08c44b36")

[2022-07-28 08:28] guidocioni commented on #124
Thanks.
In the end I could decode easily temperature, winds and pressure readings but the part about latitude and longitude was too complicated to port it.
So I just adapted the code for modeslive to allow for decoding of weather data (from https://github.com/junzis/pyModeS/blob/bb8f83e8328e36df203d238db09fe242a4ff0700/pyModeS/streamer/decode.py#L190)

[code]

 added it to the `output_buffer` and

[2022-07-28 15:22] guidocioni commented on #124
Ok, actually now I understood that the meteorological variables need a BDS44, which seems to never appear in my messages because it hasn't been implemented yet.

Is there any way to use pyModeS to extract temperature and winds from the wind speed, heading, etc... ?

[2022-08-06 12:40] atmilatos commented on #127
Hello and thank you for this amazing library.

I confirm that I have the same issue. Is there a reason and a way to resolve this?

Thank you!

[2022-08-08 17:40] dforsi opened #130 "Unused imports"
The ```pylint``` tools reports unused imports. Below I'm copying two separate lists ```unused-import``` and ```unused-wildcard-import```.

For ```adsb.py```, ```commb.py```, and ```surv.py``` it isn't clear if the comments should be updated to reflect the modules actually imported (eg. bds61 and bds62 in in adsb.py) or if the imports should be removed (eg. fs, dr, um in commb.py and surv.py).

[co

[2022-08-28 23:18] WilliamZhang20 opened #133 "[R82XX] PLL not locked"
Hi,
I'm trying to see the data with the command `modeslive --source rtlsdr` since I'm using a RTL-SDR. I've installed pyModeS, pyrtlsdr but I get this problem:
[code]
Right after I run the command, the correct screen (from the repo README) does show up, but it never detects any aircraft. After about 30 seconds, the screen cuts out and the traceback is printed. I've searched everywhere, but have no

[2022-11-10 13:23] devleaks commented on #127
I cannot get pymodes to work. Why do I get this error?
I create a new conda environment, I tried with python 3.8 to 3.11, only install pymodes and librtlsrd and constantly get this error. What am I doing wrong?
(On the side, I have dump1090 with my rtlsrd working perfectly. So that's not that part of the set up.)
The error seems so pythonic that I cannot conceive that someone else does not bump in